<!DOCTYPE html>
<html>
	<head>
		
		<title>Yumlicious | <%= @title %></title>
		<%= csrf_meta_tag %>

		<%= render 'layouts/stylesheets'%>
		
	</head>
	
	<body>
		
		<%= render 'layouts/header'%>
			

		
		<div id="container">
			<div id="inner">
			
			<%= render 'layouts/menu'%>
				
				<div id="content">
					<%= yield %>
				</div>
					
			</div>
			
		</div>
			
		<%= render 'layouts/footer'%>
			
	</body>
</html>