<!DOCTYPE html>
<html>
	<head>
		
		<title><%= @title %></title>
		<%= csrf_meta_tag %>

		<%= stylesheet_link_tag 'lab7', :media => 'screen' %>
		<%= stylesheet_link_tag 'lab7', :media => 'print' %>
		
	</head>
	
	<body>
		
		<%= render 'layouts/header'%>
			

		
		<div id="container">
			<div id="inner">
			
			<%= render 'layouts/menu'%>
				
				<div id="content">
					<%= yield %>
				</div>
					
			</div>
			
		</div>
			
		<%= render 'layouts/footer'%>
			
	</body>
</html>