<!DOCTYPE html>
<html>
	<head>
		
		<title><%= @title %></title>
		<%= csrf_meta_tag %>
		
		<%= stylesheet_link_tag 'lab7', :media => 'screen' %>
		<%= stylesheet_link_tag 'lab7', :media => 'print' %>
	</head>
	<body>
		<div id="header">
		</div>
		
		<div id="container">
			<div id="inner">
				<div id="menu">
					
				</div>
				<div id="content">
					<%= yield %>
				</div>
					
			</div>
			
		</div>
			
		<div id="footer">
		</div>
			
	</body>
</html>